<div class="parent-container bg-[#161616] pt-12 md:pt-12 px-8 md:px-20 pb-12 md:pb-20">
    <div class="container flex flex-col gap-8 md:gap-16">
        <div class="section-title font-urbanist text-[#ffffffbd] self-end text-xs md:text-sm cursor-default">
            * ticker, because why not? (hover to pause) *
        </div>
        <div class="ticker-wrapper">
            <div class="shade left"></div>

            <div class="ticker-track flex flex-row">
                <div class="ticker-inner flex flex-row">
                    @for (card of tickerCards; track card) {
                        <app-ticker-card 
                            [cardTitle]="card.cardTitle"
                            [cardDetails]="card.cardDetails"
                        />
                    }
                    @for (card of tickerCards; track card) {
                        <app-ticker-card 
                            [cardTitle]="card.cardTitle"
                            [cardDetails]="card.cardDetails"
                        />
                    }
                </div>
            </div>

            <div class="shade right"></div>
        </div>
    </div>
</div>