.card-container {
    display: flex;
    justify-content: space-between;
    background: #1B1B1B;
    border-radius: 8px;
    padding: 24px 16px;
    cursor: pointer;
    border: 2px solid transparent;

    &.selected {
        border: 2px solid #4c4c4c;
    }

    &:hover {
        background: #252525;
    }

    .card {
        display: flex;
        gap: 16px;
        flex-direction: column;

        .tags-container {
            display: flex;
            gap: 8px;
            max-width: 250px;
            flex-wrap: wrap;

            .tag {
                font-size: 14px;
                padding: 4px 10px;
                font-weight: 700;
                border: 2px solid transparent;
                border-radius: 50px;

                &.empty {
                    border-color: #4c4c4c;
                }
            }
        }
    }
}