<div class="card-container" [class.selected]="selected()">
    <div class="card">
        <div class="title font-calsans">
            {{ title() }}
        </div>
        @if (tags()?.length !== 0) {
            <div class="tags-container font-urbanist">
                @for (tag of tags(); track tag) {
                    <div class="tag">{{ tag.name }}</div>
                }
            </div>
        } @else {
            <div class="tags-container font-urbanist">
                <div class="tag empty">no tags?</div>
            </div>
        }
    </div>
</div>
