<div class="parent-container">
    <div appScrollReveal class="container fade-up">
        <div class="header-section font-urbanist">
            why choose <span class="highlight font-funnel">: go git it</span> though?
        </div>
        <div class="main-container">
            <div class="left-section">
                <div class="card-container">
                    <div class="card font-urbanist hover-target">
                        <div class="card-image">
                            <div class="image"
                                [ngStyle]="{ 'background-image': cards[currentCardIndex].cardGradient }"
                            >
                                <div class="card-title font-funnel">
                                    {{ cards[currentCardIndex].cardTitle }}
                                </div>
                            </div>
                        </div>
                        <div class="card-bottom">
                            @for (card of cards; track card) {
                            <div class="progress-bar">
                                <div 
                                    class="progress-bar-front"></div>
                                <div class="progress-bar-back">
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-section">
                <div class="card-description font-urbanist">
                    <div class="description-title">
                        {{ cards[currentCardIndex].cardTitle }}
                    </div>
                    <div class="description-content">
                        <div class="reveal-wrapper">
                            <div class="split-line" style="animation-delay: 0.3s">
                                {{ cards[currentCardIndex].cardDescription[0] }}
                            </div>
                        </div>
                        <div class="reveal-wrapper">
                            <div class="split-line" style="animation-delay: 0.3s">
                                {{ cards[currentCardIndex].cardDescription[1] }}
                            </div>
                        </div>
                        <div class="reveal-wrapper">
                            <div class="split-line" style="animation-delay: 0.3s">
                                {{ cards[currentCardIndex].cardDescription[2] }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>