.header-section {
    display: flex;
    color: #ffffffbd;
    margin-bottom: 28px;
    justify-content: space-between;

    .close-button {
        cursor: pointer;
    }
}

.snippet-form {
    display: flex;
    gap: 16px;
    flex-direction: column;
    color: #ffffffbd;

    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;

    label {
        display: flex;
        gap: 8px;
        flex-direction: column;

        input[type='checkbox'] {
            appearance: none;
            cursor: pointer;
            align-self: center;
            width: 14px;
            height: 14px;
            border: 2px solid #ffffffbd;
            border-radius: 2px;
            position: relative;

            &:checked {
                background-color: #ffffffbd;
            }

            &::after {
                content: '';
                position: absolute;
                top: -1px;
                left: 2.5px;
                width: 4px;
                height: 8px;
                border: solid #000;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
                opacity: 0;
            }

            &:checked::after {
                opacity: 1;
            }
        }

        input[type='text'] {
            padding: 0 8px;
            font-size: 14px;
            height: 28px;
            outline: none;
            border: 2px solid #4c4c4c;
            color: #ffffffbd;
            background-color: transparent;
            border-radius: 4px;
        }

        .editor {
            height: 230px;
        }
    }

    button {
        background: transparent;
        color: #ffffffbd;
        border: none;
        align-self: flex-end;
        font-size: 18px;
        cursor: pointer;
        width: fit-content;
        margin-top: 12px;

        &:hover {
            background: #ffffffbd;
            color: #000000;
        }
    }
}

.gap-16 {
    gap: 16px;
}

.display-flex-row {
    display: flex;
    flex-direction: row !important;
}

.display-flexcolumn {
    display: flex;
    flex-direction: column !important;
}