.parent-container {
    background: #161616;
    padding: 40px 80px 60px;
    box-sizing: border-box;

    .container {
        display: flex;
        flex-direction: column;
        gap: 64px;
        color: #ffffffbd;

        .footer-title {
            font-size: 48px;
            font-weight: 700;
            position: relative;
            cursor: pointer;

            color: transparent;
            background: linear-gradient(to left,
                    #ffffffe6,
                    #ffffff33);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            text-shadow:
                1px 1px 2px #ffffff4d,
                2px 2px 6px #ffffff1a;

            filter: blur(0.15px);
        }

        .main-content {
            display: flex;
            justify-content: space-between;

            .left-section {
                display: flex;
                gap: 12px;
                flex-direction: column;

                .socials {
                    display: flex;
                    gap: 8px;
                    align-items: center;

                    .icon {
                        display: flex;
                        align-items: center;
                    }

                    .social-link {
                        cursor: pointer;
                        font-size: 16px;
                        color: #ffffffbd;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .right-section {
                cursor: default;
                display: flex;
                flex-direction: column;
                gap: 16px;

                text-align: end;

                .personal-info {
                    display: flex;
                    gap: 8px;
                    flex-direction: column;

                    .random-text {
                        font-size: 14px;
                        opacity: 0.5;
                    }
                }
            }
        }

        .made-by {
            cursor: default;
            text-align: center;

            .name {
                font-size: 18px;
                font-weight: 900;
            }
        }
    }
}

.fade-up {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 1.2s ease, transform 1.2s ease;
}

.fade-up.in-view {
    opacity: 1;
    transform: translateY(0);
}