.parent-container {
    box-sizing: border-box;

    .container-box {
        color: #ffffffbd;

        .main-content {
            .left-section {
                .socials {
                    .icon {
                        display: flex;
                        align-items: center;
                    }

                    .social-link {
                        cursor: pointer;
                        font-size: 16px;
                        color: #ffffffbd;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .right-section {
                .personal-info {
                    display: flex;
                    gap: 8px;
                    flex-direction: column;

                    .random-text {
                        font-size: 14px;
                        opacity: 0.5;
                    }
                }
            }
        }

        .made-by {
            cursor: default;
            text-align: center;

            .name {
                font-size: 18px;
                font-weight: 900;
            }
        }
    }
}

.fade-up {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 1.2s ease, transform 1.2s ease;
}

.fade-up.in-view {
    opacity: 1;
    transform: translateY(0);
}