<div class="parent-container">
    <div class="font-funnel header-section hover-target">
        : go git it.
    </div>

    <div class="main-section">
        <div class="left-section">
            <div class="reveal-wrapper">
                <div class="split-line font-urbanist hover-target" style="animation-delay: 0.1s">
                    But here comes Sebastian Vettel.
                </div>
            </div>
            <div class="reveal-wrapper">
                <div class="split-line font-urbanist hover-target" style="animation-delay: 0.3s">
                    Off goes Leclerc, Through goes Hamilton...
                </div>
            </div>
        </div>

        <div class="right-section">

        </div>
    </div>
</div>
