<div class="parent-container">
    <div class="font-funnel header-section">
        <div class="header-title hover-target">:go git it</div>
        <div class="header-cta hover-target">SIGN IN</div>
    </div>

    <div class="main-section">
        <div class="left-section">
            <div class="reveal-wrapper">
                <div class="split-line font-urbanist hover-target" style="animation-delay: 0.1s">
                    But here comes Sebastian Vettel.
                </div>
            </div>
            <div class="reveal-wrapper">
                <div class="split-line font-urbanist hover-target" style="animation-delay: 0.3s">
                    Off goes Leclerc, Through goes Hamilton...
                </div>
            </div>

            <div class="description font-urbanist">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, 
                remaining essentially unchanged. It was popularised in the 1960s with the release of </p>
            </div>
        </div>

        <div class="right-section">
            <div class="animaton-container">
                <app-landing-animation/>
            </div>
            <div class="random-text font-urbanist">
                *might insert a random cube here*
            </div>
        </div>
    </div>
</div>
