.auth-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    box-sizing: border-box;

    animation: slideIn 0.7s cubic-bezier(0.85, 0, 0.15, 1) forwards;

    .main-container {
        height: 100%;

        .form-heading {
            font-weight: 700;

            .highlight {
                padding: 4px 8px;
                color: #f0f0f0;
            }
        }

        .container {
            width: 100%;
        }
    }

    .header-section {
        .header-title {
            width: fit-content;
            height: fit-content;
            font-weight: 700;
            position: relative;
            cursor: pointer;
        }

        .header-cta {
            color: #333;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.slide-out {
    animation: slideOut 0.7s cubic-bezier(0.85, 0, 0.15, 1) forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-100%);
    }
}