@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
}

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
  border-right: none;
}

.font-bebas {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-gruppo {
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-calsans {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-funnel {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.font-innertight {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.font-urbanist {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

::selection {
    background: #c1c1c1;
    color: #161616;
    border-radius: 8px;
}

::-moz-selection {
    background: #c1c1c1;
    color: #161616;
    border-radius: 8px;
}

.custom-dialog-panel .mdc-dialog__surface {
    background: #1b1b1b;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.custom-backdrop {
    background: #161616ba;
}

.snackbar {
    width: fit-content !important;
    border-radius: 4px;
    background: #1b1b1b;
    font-family: "Urbanist", sans-serif;
}

.snackbar-error {
    color: #ff2d2d;
}

.snackbar-success {
    color: #0dfd85;
}

.snackbar-warning {
    color: #f9ff48;
}

.mat-mdc-snack-bar-action {
    display: none !important;
}

.mdc-snackbar.mat-mdc-snack-bar-container {
    width: auto !important;
    min-width: 0 !important;
    max-width: 100vw !important;
}

.mdc-snackbar .mdc-snackbar__surface {
    width: auto !important;
    min-width: 0 !important;
}

.mdc-snackbar .mdc-snackbar__label {
    padding: 16px 28px !important;
    white-space: nowrap !important;
}