.parent-container {
    background: #161616;
    height: 100vh;
    padding: 40px 80px;
    box-sizing: border-box;

    .container {
        display: flex;
        gap: 40px;
        height: 100%;
        color: #ffffffbd;

        .left-section {
            width: 35%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .search-and-filter-container {
                display: flex;
                gap: 24px;
                padding-bottom: 36px;
                flex-direction: column;
                justify-content: space-between;

                .filter-container {
                    display: flex;
                    gap: 32px;

                    .filter {
                        display: flex;
                        gap: 8px;
                        align-items: center;
                        cursor: pointer;
                        position: relative;

                        .popup-container {
                            position: absolute;
                            top: 40px;
                            left: 0px;
                            z-index: 1000;
                            background: #1b1b1b;
                            width: 400px;
                            height: 350px;
                            border-radius: 8px;
                            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);

                            &.filters {
                                width: 300px;
                            }
                        }

                        .text {
                            user-select: none;
                        }

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .search-container {
                    .search-bar {
                        display: flex;
                        gap: 8px;
                        padding: 4px 12px;
                        border: 2px solid #ffffff7a;
                        border-radius: 16px;
                        align-items: center;

                        .search-input {
                            width: 100%;
                            background: transparent;
                            border: none;
                            outline: none;
                            color: #ffffffbd;

                            &::placeholder {
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }

            .scroll-wrapper {
                flex-grow: 1;
                overflow-y: auto;
                scrollbar-width: none;
                scroll-behavior: smooth;

                position: relative;

                &::-webkit-scrollbar {
                    display: none;
                }

                .empty-message {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    align-items: center;
                    justify-content: center;

                    .message {
                        font-size: 14px
                    }
                }

                .card-scroll-section {
                    gap: 20px;
                    display: flex;
                    flex-direction: column;
                }
            }

            .results-text {
                margin-bottom: 12px;

                .message {
                    opacity: 0.5;
                    font-size: 14px;
                }
            }

            .cta-container {
                display: flex;
                padding: 12px;
                margin-top: 12px;
                border-radius: 8px;
                color: #a0a0a0;
                border: 2px solid #a0a0a0;
                justify-content: center;
                cursor: pointer;

                &:hover {
                    color: #ffffffbd;
                    border-color: #ffffffbd;
                }
            }
        }

        .right-section {
            width: 65%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .profile-container {
                display: flex;
                gap: 12px;
                justify-content: flex-end;
                align-items: center;
                background: #1b1b1b;
                padding: 24px 16px;
                border-radius: 8px;

                .text {
                    font-size: 16px;

                    span {
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
            }

            .code-container {
                background: #1b1b1b;
                height: 100%;
                border-radius: 8px;
                overflow: hidden;

                &::-webkit-scrollbar {
                    display: none;
                }

                .snippet-topbar {
                    position: sticky;
                    top: 0;
                    display: flex;
                    padding: 12px 20px;
                    align-items: center;
                    justify-content: space-between;
                    z-index: 10;

                    .language {
                        padding: 6px 10px;
                        border-radius: 8px;
                        background: #161616;
                        border: 2px solid #4c4c4c;
                    }

                    .snippet-actions {
                        display: flex;
                        gap: 32px;
                        padding: 8px 12px;
                        border-radius: 8px;

                        .action {
                            cursor: pointer;
                        }
                    }
                }

                .message-container {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    gap: 12px;
                    color: #ffffff8c;

                    .message {
                        font-size: 16px;
                        transform: scale(1);
                        transition: transform 0.2s ease-in-out;

                        &:hover {
                            color: #ffffffeb;
                            transform: scale(1.05);
                        }
                    }

                    .sub-message {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.icon {
    display: flex;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}